:root {
    font-family: sans-serif;

}

body {
    background-color: #6FB4F2;
}

h1 {
    margin-bottom: 0.25rem;
}

.stars {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}
.book__group {
    display: flex;
    align-items: top;
    gap: 2rem;
}

.guide {
    display: flex;
    flex-direction: row;
    height:fit-content;
    align-items: center;
    margin-top: 1rem;
}

.calendar__guide {
    width: 350px;
}

.block {
    width: 1.5rem;
    background-color: brown;
    height: 1.5rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
}

button[type="submit"] {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.book__calendar {
  border-radius: 0.5rem;
  width: inherit;
  text-align: center;
  background: #fff;
  padding: 1rem;
}

.book__calendar caption {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.room-image {
    width: 100%;
}
.booked {
    background: brown;
    border-radius: 1rem;
    color: #fff;
}

.container {
    margin: 0 auto;
    width: 90%;
}

.rooms {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}

.room {
  background: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
      @media screen and (min-width: 768px) {
        flex: 1 1 calc(50% - 1rem);   
    }
}

input[type="text"], input[type="date"] {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

button[type="submit"] {
    padding: 1rem;
}

.book__form {
    width: 450px;
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #fff;
}

select {
    width: 200px;
    padding: 0.75rem;
}

.alert {
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 4px;
    border: 1px solid transparent;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert-failure {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.alert p {
    margin: 0;
}

.alert p + p {
    margin-top: 0.5rem;
}